[profile.default]
src = "src"
out = "out"
libs = ["lib"]
via_ir = true
gas_reports = ["VaultWithdrawalProcessor", "VaultEscapeProofVerifier", "AccountProofVerifier"]
gas_snapshot_check = true
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options